<!DOCTYPE html>
<html>
<head>
  <title>CatProject</title>
  <%= csrf_meta_tags %>
</head>
<body>
  Params: <%= debug params %>
<%= yield %>

<a href= "<%=cats_url%>">Show all cats</a>
<br>
<a href= "<%=new_cat_url%>">Create a new cat!</a>

</body>
</html>
