<!DOCTYPE html>
<html>
<head>
  <title>CatProject</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Params: <%= debug params %> -->
<%= yield %>

<a href= "<%=cats_url%>">Show all cats</a>
<a href= "<%=new_cat_url%>">Create a new cat!</a>
<a href= "<%=new_cat_rental_request_url%>">Reserve a cat!</a>

</body>
</html>
