<h1>Check out this cat!</h1>

<table>
  <tr>
    <td>Name:</td>
    <td><%="#{@cat.name}"%></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><%="#{@cat.age}"%></td>
  </tr>
  <tr>
    <td>Birthdate:</td>
    <td><%="#{@cat.birth_date}"%></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><%="#{@cat.color}"%></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td><%="#{@cat.sex}"%></td>
  </tr>
</table>

<label><%= "#{@cat.name}"%>'s Schedule
  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <% @cat.requests.each do |request| %>
    <tr>
      <td><%= "#{request.start_date}"%></td>
      <td><%= "#{request.end_date}"%></td>
      <% if request.status == 'PENDING' %>
        <td><%=button_to "Approve", approve_cat_rental_request_url(request.id), method: :post %></td>
        <td><%=button_to "Deny", deny_cat_rental_request_url(request.id), method: :post %></td>
      <%end%>
    </tr>
    <% end %>
  </table>
</label>

<%=@cat.pic_html.html_safe%>

<%#"#{@cat.pic_html}"%>

<a href= "<%=edit_cat_url(@cat.id)%>">Edit This Cat</a>
<a href= "<%=reserve_cat_cat_rental_request_url(@cat)%>">Reserve This Cat</a><br>
